/* Shared vocabulary */

.qti-orientation-vertical > ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.qti-orientation-horizontal > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.qti-choices-stacking-1 > ul,
.qti-orientation-horizontal.qti-choices-stacking-1 > ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.qti-choices-stacking-2 > ul,
.qti-orientation-horizontal.qti-choices-stacking-2 > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.qti-choices-stacking-3 > ul,
.qti-orientation-horizontal.qti-choices-stacking-3 > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.qti-choices-stacking-4 > ul,
.qti-orientation-horizontal.qti-choices-stacking-4 > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.qti-choices-stacking-5 > ul,
.qti-orientation-horizontal.qti-choices-stacking-5 > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.qti-orientation-vertical.qti-choices-stacking-1 > ul {
  display: block;
  column-count: 1;
}

.qti-orientation-vertical.qti-choices-stacking-2 > ul {
  display: block;
  column-count: 2;
}

.qti-orientation-vertical.qti-choices-stacking-3 > ul {
  display: block;
  column-count: 3;
}

.qti-orientation-vertical.qti-choices-stacking-4 > ul {
  display: block;
  column-count: 4;
}

.qti-orientation-vertical.qti-choices-stacking-5 > ul {
  display: block;
  column-count: 5;
}

.qti-input-width-1 {
  width: 4ch;
}

.qti-input-width-2 {
  width: 5ch;
}

.qti-input-width-3 {
  width: 6ch;
}

.qti-input-width-4 {
  width: 8ch;
}

.qti-input-width-6 {
  width: 10ch;
}

.qti-input-width-10 {
  width: 18ch;
}

.qti-input-width-15 {
  width: 24ch;
}

.qti-input-width-20 {
  width: 32ch;
}

.qti-input-width-25 {
  width: 40ch;
}

.qti-input-width-30 {
  width: 48ch;
}

.qti-input-width-35 {
  width: 55ch;
}

.qti-input-width-45 {
  width: 70ch;
}

.qti-input-width-50 {
  width: 77ch;
}

.qti-input-width-72 {
  width: 110ch;
}

/* End of shared vocabulary */

ul.qti-choices-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qti-choices-list-item-number {
  padding-right: 0.5rem;
}
